body{
    background-color: #67bbd6;
    margin: 0;
}

#wrapper {
    font-family: sans-serif;
    font-size: 12pt;
    overflow: hidden;
}

#menuHeader{
    text-align: center;
    color: white;
    width: 75pt;
    float: left;
}

#logoutHeader{
    text-align: center;
    padding: 3px;
    margin: 2px;
    color: black;
    width: 75pt;
    float: right;
}

header {
    background-color: white;
    border-bottom: 2px solid black;
}

#contents{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gainsboro;
    border-radius: 1em;
    padding: 30px 40px 40px 40px;
    margin: 50px 400px;
    background-color: rgba(255,255,255,0.99);
}

#contents form{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.error {
    color: crimson;
    font-weight: bold;
}

.formulario  {
    border: 1px solid gray;
}

.formulario  td {
    padding: 4px 16px;
}

.formulario .etiqueta {
    text-align: right;
}

.inputField{
    margin-top: 2px;
    height: 40px;
    width: 200px;
    padding: 5px;
    border-radius: 0.1em;    
    border: none;  
    border-bottom: 1px solid #d9d9d9;
    background-color: transparent;
}

.formulario .botones {
    border-top: 1px solid gray;
    padding: 8px;
    text-align: center;
}

.tablaAreasTematicas caption{
    background-color: #505453;
    padding-bottom: 5px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: white;
}


.tablaAreasTematicas {
    border: none;
    border-bottom: 2px solid darkslategrey;
    border-collapse: collapse;
    font-size: smaller;
}

.tablaAreasTematicas th,
.tablaAreasTematicas td {
    border: none;
    padding: 10px 25px 10px 25px;
}

.tablaAreasTematicas tbody tr:nth-child(odd) {
    background-color: #ededeb;
}

.tablaAreasTematicas th {
    background-color: #505453;
    border: none;
    color: white;
}


