body{
    background-color: #67c1da;
    margin: 0;
}

#wrapper{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;      
}

#contents form{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.passField{
    border: none; 
    background-color: transparent;
}

#contents{
    border: 1px solid gainsboro;
    border-radius: 1em;
    padding: 40px;
    background-color: rgba(255,255,255,0.99);
}

.inputField{
    margin-top: 10px;
    height: 40px;
    width: 200px;
    padding: 5px;
    border-radius: 0.1em;    
    border: none;  
    border-bottom: 1px solid #d9d9d9;
    background-color: transparent;
}

.pass{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    height: 30px;
    width: 200px;
    padding: 5px;
    border: none;  
    border-bottom: 1px solid #d9d9d9;
    background-color: transparent;
}

#botonlogin{
    margin-top: 40px;
}

footer p{
    font-family: sans-serif;
    font-size: 14px;
    color: white;
}